<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello world</title>
    <link rel="stylesheet" href="../resources/css/ext-all.css">
    <script src="../js/bootstrap.js"></script>
    <script src="../js/ext-lang-zh_CN.js"></script>
    <style>
        /* 在此插入样式代码 */
    </style>
</head>
<body>
<!-- 在此插入Html代码 -->
<script>
    Ext.onReady(function () {
        if (Ext.BLANK_IMAGE_URL.substr(0, 4) != 'data') {
            Ext.BLANK_IMAGE_URL = './images/s.gif';
        }
        //在此添加Ext JS代码

    })
</script>

<script>
    for (var i = 0; i < 500; i++) {
        console.log(i);
    }
</script>
</body>
</html>